@import "~bootstrap/scss/bootstrap";

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto,
    segoe ui, arial, sans-serif;
  background: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  background-color: #f0f0f0;
}

.firstHeading {
  font-size: 24px;
  margin-top: 80px;
  letter-spacing: 4px;
  margin-bottom: 80px;
}

.firstBlack {
  height: 50000px;
  padding: 50px;
  color: #f0f0f0;
  padding-bottom: 200px;
  background-color: rgb(66, 66, 66);
  ;
}


.button-white {
  background-color: white;
  color: black;
  padding: 10px;
  text-decoration: none;
  cursor: pointer;
  text-transform: capitalize;
  transition: 200ms;
}

.button-white:hover {
  padding-right: 40px;
  margin-left: 8px;
}

.button-black {
  background-color: rgb(66, 66, 66);
  ;
  color: white;
  padding: 10px;
  text-decoration: none;
  cursor: pointer;
  text-transform: capitalize;
  transition: 200ms;
}

.button-black:hover {
  padding-right: 40px;
  margin-left: 8px;
}

#root {
  width: 100%;
  height: 100%;
}

.script-box {
  will-change: width, height, left, top;
  position: relative;
}

.imgproject {
  width: 500px;
  margin-top: 100px;
  border: 10px solid white;
  border-radius: 20px;
}

.trails-main {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
}

.trails-text {
  margin-top: 20px;
  position: relative;
  width: 100%;
  height: 80px;
  line-height: 80px;
  color: rgb(66, 66, 66);
  ;
  font-size: 5em;
  font-weight: 800;
  text-transform: uppercase;
  will-change: transform, opacity;
  overflow: hidden;
}

.trails-text-black {
  margin-top: 20px;
  position: relative;
  width: 100%;
  height: 80px;
  line-height: 80px;
  color: white;
  font-size: 5em;
  font-weight: 800;
  text-transform: uppercase;
  will-change: transform, opacity;
  overflow: hidden;
}

.trails-text>div {
  overflow: hidden;
}

.circle-black-big {
  border-radius: 100%;
  width: 400px;
  height: 400px;
  animation-duration: 4s;
  background-color: rgb(66, 66, 66);
  ;
  position: absolute;
  right: 200px;
  top: 200px;
}

.circle-black-medium {
  border-radius: 100%;
  animation-duration: 5s;
  width: 200px;
  height: 200px;
  background-color: rgb(66, 66, 66);
  ;
  position: absolute;
  right: 200px;
  top: 100px;
}

.circle-black-small {
  border-radius: 100%;
  width: 80px;
  animation-duration: 3s;
  height: 80px;
  background-color: rgb(66, 66, 66);
  ;
  position: absolute;
  right: 400px;
  top: 700px;
}

.floating1 {
  animation-name: floating1;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.floating2 {
  animation-name: floating2;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating1 {
  from {
    transform: translate(0, -0px);
  }

  65% {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(0, -0px);
  }
}

@keyframes floating2 {
  from {
    transform: translate(0, -0px);
  }

  65% {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(0, -0px);
  }
}

.logo {
  width: 200px !important;
  border-radius: 400px;
  background-color: rgb(66, 66, 66);
}

.card {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  padding: 20px;
  border-radius: 10px;
  background-color: white;
}

.nav{
  width: 100%;
  border-bottom: none !important;
}

.tabs .nav-link.active {
  border: 0px;
  border-bottom-width: 3px !important;
  border-bottom-color: #rgb(66, 66, 66) !important;
  border-bottom-style: solid !important;

  font-size: 17px;
  /* font-weight: bolder; */
  font-stretch: normal;
  font-style: normal;
  line-height: 25px;
  letter-spacing: normal;
  color: #0f2236;
}
.tabs .nav-link {
  border: 0px;
  font-size: 17px;
  font-stretch: normal;
  font-style: normal;
  line-height: 25px;
  letter-spacing: normal;
  color: #9ca4ac;
}